/* Resetando estilos */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-wrapper {
    display: flex;
    align-items: center;/* Alinha os items na vertical */
    justify-content: start;/* Alinha os items na horizontal */
    width: 60%;
    height: 100vh;
}

.instagram-phone{
    display: flex;
    align-items: center; /* Alinha os items na vertical */
    justify-content: center; /* Alinha os items na horizontal */
    width: 50%;
}

.instagram-phone img {
    height: 50rem;
}

.instagram-continue {
    display: flex;
    align-items: center; /* Alinha os items na horizontal [INVERTEU OS EIXOS] */
    justify-content: space-around; /* Alinha os items na vertical [INVERTEU OS EIXOS] */
    flex-direction: column; /* INVERTE OS EIXOS */
    width: 50%;
    min-height: 34rem;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgrey;
}

.group:nth-child(1) {
    min-height: 19rem;
}

.instagram-logo {
    height: 3rem;
}

.profile-photo {
    display: flex;
    justify-content: center; /* Alinha os items na horizontal */
    align-items: center; /* Alinha os items na vertical */
    border-radius: 50%; /* Arredonda o container */
    overflow: hidden; /* Esconde o que sobra após arredondamento */
}

.profile-photo img {
    height: 6rem;
}